<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.zber.data.model.HeOrder">
  <resultMap id="BaseResultMap" type="com.zb.zber.data.model.HeOrder">
    <result column="id" jdbcType="CHAR" property="id" />
    <result column="create_user_id" jdbcType="CHAR" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user_id" jdbcType="CHAR" property="modifyUserId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delete_flag" jdbcType="INTEGER" property="delf" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />

    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="unit_price" jdbcType="INTEGER" property="unitPrice" />
    <result column="is_pay" jdbcType="VARCHAR" property="isPay" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="is_get_ticket" jdbcType="VARCHAR" property="isGetTicket" />
    <result column="tick_type" jdbcType="CHAR" property="tickType" />
    <result column="tick_money" jdbcType="INTEGER" property="tickMoney" />
    <result column="express_type" jdbcType="VARCHAR" property="expressType" />
    <result column="express_expense" jdbcType="INTEGER" property="expressExpense" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>

  <sql id="fields">
    id, create_user_id, create_time,
    modify_user_id, modify_time, delete_flag,
    remark, address, product,
    unit_price, is_pay, number,
    is_get_ticket, tick_type, tick_money,
    express_type, express_expense, remarks
  </sql>

  <sql id="values">
    #{id,jdbcType=CHAR}, #{createUserId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
    #{modifyUserId,jdbcType=CHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{delf,jdbcType=INTEGER},
    #{remark,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{product,jdbcType=VARCHAR},
    #{unitPrice,jdbcType=INTEGER}, #{isPay,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER},
    #{isGetTicket,jdbcType=VARCHAR}, #{tickType,jdbcType=CHAR}, #{tickMoney,jdbcType=INTEGER},
    #{expressType,jdbcType=VARCHAR}, #{expressExpense,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}
  </sql>

  <insert id="insert" parameterType="com.zb.zber.data.model.HeOrder">
    insert into tb_he_order (<include refid="fields"/>
    )
    values (<include refid="values"/>)
  </insert>

  <update id="deleteById" parameterType="java.lang.String">
    update tb_he_order
    <set>
      delete_flag = 1
    </set>
    where id = #{id,jdbcType=CHAR}  and delete_flag = 0
  </update>

  <update id="updateById" parameterType="com.zb.zber.data.model.HeOrder">
    update tb_he_order
    <set>
      <if test="modifyUserId != null and modifyUserId != ''">
        modify_user_id=#{modifyUserId,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null and modifyTime != ''">
        modify_time=#{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        address=#{address,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        product=#{product,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        unitPrice=#{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="isPay != null">
        isPay=#{isPay,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number=#{number,jdbcType=INTEGER},
      </if>
      <if test="isGetTicket != null">
        isGetTicket=#{isGetTicket,jdbcType=VARCHAR},
      </if>
      <if test="tickType != null">
        tickType=#{tickType,jdbcType=CHAR},
      </if>
      <if test="tickMoney != null">
        tickMoney=#{tickMoney,jdbcType=INTEGER},
      </if>
      <if test="expressType != null">
        expressType=#{expressType,jdbcType=VARCHAR},
      </if>
      <if test="expressExpense != null">
        expressExpense=#{expressExpense,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks=#{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id=#{id,jdbcType=CHAR} and delete_flag = 0
  </update>

  <select id="selectByHeOrder" parameterType="com.zb.zber.data.model.HeOrder" resultMap="BaseResultMap">
    select
    <include refid="fields" />
    from tb_he_order
    <where>
      delete_flag = 0
      <if test="product != null">
        and product=#{product,jdbcType=VARCHAR}
      </if>
      <if test="isPay != null">
        and isPay=#{isPay,jdbcType=VARCHAR}
      </if>
      <if test="isGetTicket != null">
        and isGetTicket=#{isGetTicket,jdbcType=VARCHAR}
      </if>
      <if test="tickType != null">
        and tickType=#{tickType,jdbcType=CHAR}
      </if>
      <if test="expressType != null">
        and expressType=#{expressType,jdbcType=VARCHAR}
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="fields" />
    from tb_he_order
    where id = #{id,jdbcType=CHAR}  and delete_flag = 0
  </select>

</mapper>