<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.zber.data.model.News">
  <resultMap id="BaseResultMap" type="com.zb.zber.data.model.News">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="create_user_id" jdbcType="CHAR" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user_id" jdbcType="CHAR" property="modifyUserId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delete_flag" jdbcType="INTEGER" property="delf" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />

    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
  </resultMap>


  <sql id="fileds">
    id, create_user_id, create_time, modify_user_id, modify_time, delete_flag, remark, 
    name, title, author, content, status,topic
  </sql>

  <sql id="values">
    #{id,jdbcType=CHAR}, #{createUserId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{modifyUserId,jdbcType=CHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{delf,jdbcType=INTEGER},
      #{remark,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
      #{author,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{topic,jdbcType=VARCHAR}
  </sql>

  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="fileds" />
    from tb_news
    where id = #{id,jdbcType=CHAR}
  </select>

  <select id="selectList" parameterType="com.zb.zber.data.model.News" resultMap="BaseResultMap">
    select
    <include refid="fileds" />
    from tb_news
    where 1=1 and status = '0'
    <if test="title != null">
      and title LIKE %#{title,jdbcType=VARCHAR}%
    </if>
    <if test="author != null">
      and author LIKE %#{author,jdbcType=VARCHAR}%
    </if>
    <if test="topic != null">
      and topic = #{topic,jdbcType=VARCHAR}
    </if>
  </select>

  <delete id="deleteById" parameterType="java.lang.String">
    update tb_news set delete_flag = 1
    where id = #{id,jdbcType=CHAR}
  </delete>

  <insert id="insert" parameterType="com.zb.zber.data.model.News">
    insert into tb_news (<include refid="fileds" />)
    values (<include refid="values" />)
  </insert>


  <update id="updateById" parameterType="com.zb.zber.data.model.News">
    update tb_news
    <set>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>

</mapper>