<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.zber.data.model.Owner">
  <resultMap id="BaseResultMap" type="com.zb.zber.data.model.Owner">
    <result column="id" jdbcType="CHAR" property="id" />
    <result column="create_user_id" jdbcType="CHAR" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user_id" jdbcType="CHAR" property="modifyUserId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="delete_flag" jdbcType="INTEGER" property="delf" />

    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
  </resultMap>

  <sql id="fileds">
    id, create_user_id, create_time,
    modify_user_id, modify_time, delete_flag, remark, name, introduce
  </sql>

  <sql id="values">
    #{id,jdbcType=CHAR}, #{createUserId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
    #{modifyUserId,jdbcType=CHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{delf,jdbcType=INTEGER},
    #{remark,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}
  </sql>


  <insert id="insert" parameterType="com.zb.zber.data.model.Owner">
    insert into tb_owner (<include refid="fileds"/> )
    values (<include refid="values" />)
  </insert>

  <update id = "deleteById" parameterType = "String">
    update tb_owner set delete_flag = 1
    where id = #{id,jdbcType=CHAR}
  </update>

  <update id="updateById" parameterType="com.zb.zber.data.model.Owner">
    update tb_owner
    <set>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR} and delete_flag = 0
  </update>

  <select id="selectById" parameterType = "String" resultMap="BaseResultMap">
    select * from tb_owner where id = #{id,jdbcType=CHAR} and delete_flag = 0
  </select>

  <select id="selectList" parameterType="com.zb.zber.data.model.Owner" resultMap="BaseResultMap">
    select * from tb_owner
    <where>
      delete_flag = 0
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="introduce != null">
        and introduce = #{introduce,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

</mapper>